@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(19, 19, 19);
    color: white;
    font-family: "Lato", sans-serif;
    opacity: 0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
    font-size: 20px;
}


p {
    filter: opacity(80%)
}

a {
    text-decoration: none;
    color: white;
    width: fit-content;
}

a:hover {
    filter: opacity(50%);
}

#main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#descriptionTitle {
    max-width: 800px;
    padding: 32px;
}

#title {
    margin-top: 32px;
    font-size: 32px;
    font-weight: 700;
}

#chapters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 32px;
}

.chapterTitle {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 32px;
}

.chapter,
#description {
    max-width: 800px;
}

#footer {
    margin-bottom: 32px;
}

#themeSwitcher {
    margin: 32px;
    filter: invert(1);
    position: absolute;
    right: 0;
    top: 0;
    transition: 250ms;
}

#themeSwitcher:hover {
    cursor: pointer;
}

#selectChapter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    top: 0;
    position: fixed;
    height: 100%;
    width: fit-content;
    gap: 16px;
    word-wrap: break-word;
    margin-left: 32px;
}

@media only screen and (max-width: 890px) and (orientation: portrait) {
    #selectChapter {
        display: none;
    }
}