@import url('https://fonts.cdnfonts.com/css/womby');

body {
    padding: 0;
    margin: 0;
    background-color: rgb(19, 19, 19);
    color: white;
    font-family: "Womby", sans-serif;
    font-size: 1.35rem;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
    letter-spacing: 2px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    gap: 32px;
}

#hero,
#projectTab {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.project{
    margin-bottom: 12px;
}

.title {
    font-size: 4rem;
    font-weight: 700;
    transition: 200ms;
}

.title:hover {
    transform: translateY(-3px);
}

a {
    text-decoration: none;
    color: white;
    transition: 150ms ease-in-out;
}

a:hover {
    filter: opacity(50%);
}