.stats-wrap[data-v-815ccddc] {
    display: grid;
    grid-auto-flow: column;
    padding: 20px 10px;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative;
    grid-row-gap: 1rem;
}

.stat:first-of-type {
    position: absolute;
    left: 25%;
    top: 25%;
}

.stats-wrap .stat:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
}

.stats-wrap .stat:nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
}

.stat:first-of-type .value {
    font-size: 3rem;
}

.footer[data-v-815ccddc] {
    display: none;
}

.list-stats {
    margin-bottom: 2rem !important;
}

/* last.fm embed replacing Genre Overview */
/*.desktop[data-v-63cd3b41] {
	background-image: url(https://fm.morgantali.tech/crackheadakira?showStatus=true&statusBar=true&statusBarColor=d878cb&bgColor=151f2e) !important;
	background-size: contain !important;
	background-repeat: no-repeat !important;
	background-position: center;
	width: 470px;
	height: 120px;
}

.desktop[data-v-63cd3b41] > * {
    display: none !important;
}*/

.el-dropdown[data-v-eb51fd0e] {
    padding-right: 0 !important;
}

.el-dropdown-menu[data-v-eb51fd0e] {
    margin-right: 0 !important;
}

.banner {
	background-image: url("https://i.imgur.com/jMCP0jp.gif") !important;
}

.container {
    max-width: none !important;
}

.activity-feed-wrap.activity.feed {
    grid-template-columns: 1fr 1fr 1fr !important;
}

.activity-text {
    grid-column-end: 4 !important;
}

.activity-entry.full-width {
    grid-column-end: 2 !important;
}

.nav-wrap > .nav.container {
    display: flex;
    justify-content: space-evenly
}